<nav>
  <ul class="menu">
    <li><%= link_to "Tout", favorites_path(search: params[:search], filter: nil), class: "menu-item #{params[:filter].nil? ? 'active' : ''}" %></li>
    <li><%= link_to "Mes favoris", favorites_path(search: params[:search], filter: 'favorites_only'), class: "menu-item #{params[:filter] == 'favorites_only' ? 'active' : ''}" %></li>
    <li><%= link_to "Mes mèmes", favorites_path(search: params[:search], filter: 'my_memes'), class: "menu-item #{params[:filter] == 'my_memes' ? 'active' : ''}" %></li>
  </ul>
</nav>
