<h1>Mes Favoris</h1>

<% if @favorites.any? %>
  <% @favorites.each do |favorite| %>
    <div class="d-flex flex-column">
      <%= cl_image_tag favorite.meme.image.key, alt: favorite.meme.title, width: 180 %>
    </div>
  <% end %>
<% else %>
  <p>Vous n'avez aucun favori pour le moment.</p>
<% end %>
