.form-actions {
  align-content: center;
  width: 300px;
  height: 50px;
  background-color: #D05BC5; /* Couleur de fond */
  border: 1px solid #D05BC5; /* Bordure */
  box-shadow: 5px 5px 0px black; /* Ombre */
  border-radius: 10px; /* Arrondi des bords */
  color: black; /* Couleur du texte */
  font-size: 16px; /* Taille du texte */
  font-family: Montserrat; /* Police du texte */
  font-weight: 700; /* Poids de la police */
  line-height: 22px; /* Hauteur de ligne */
  margin-top: 5px; /* Marge supérieure */
  margin-bottom: 50px; /* Marge inférieure */
  transition: background-color 0.3s, color 0.3s; /* Transition */
}

.form-actions:hover {
  background-color: #B347A8; /* Couleur de fond au survol */
  color: white; /* Couleur du texte au survol */
}
