<div class="form-check form-switch" data-controller="public">
  <%= simple_form_for meme,
    data: {
      public_target: "form",
      action: "change->public#makePublic"
    } do |f| %>
        <div class="toggle-switch-container custom-toggle">
    <%= f.check_box :public, id: 'meme_public', class: 'toggle-switch toggle-switch-wide custom-toggle-input' %>
    <%= label_tag 'meme_public', nil, class: 'custom-toggle-label', data: { switch_on: 'Public', switch_off: 'Privé' } %>
  </div>
  <% end %>
</div>
