<div class="form-check form-switch" data-controller="public">
  <%= simple_form_for meme,
    data: {
      public_target: "form",
      action: "change->public#makePublic"
    } do |f| %>
      <%= f.input :public, as: :boolean, input_html: { class: 'form-check-input', data: { public_target: "input"} } %>
  <% end %>
</div>


<%#
<div data-controller="public">
  <%= simple_form_for meme
      data: {
      public_target: "form",
      action: "change->public#makePublic"
    } do |f| %>
    <%# <div class="toggle-switch-container">
      <%= f.input :public, as: :boolean, input_html: { id: 'switchToggle4', class: 'toggle-switch toggle-switch-wide', data: { public_target: "input"} } %>
      <%# <label for="switchToggle4" data-switch-on="Public" data-switch-off="Privé"></label>
    </div>
  <% end %>
<%# </div> %>
