<% @memes.each do |meme| %>
  <div class="meme">
    <h2><%= meme.title %></h2>
    <% if meme.image.attached? %>
      <%= image_tag meme.image, alt: meme.title %>
    <% else %>
      <p>Aucune image disponible</p>
    <% end %>
    <p>
      <%= link_to "Voir le mème", meme_path(meme), class: "btn btn-primary" %>
    </p>
  </div>
<% end %>
