<% if @memes.any? %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <% @memes.each_with_index do |meme, index| %>
          <% if index.even? %>
            <%= render partial: "shared/card1", locals: { meme: meme } %>
          <% end %>
        <% end %>
      </div>
      <div class="col-6">
        <% @memes.each_with_index do |meme, index| %>
          <% if index.odd? %>
            <%= render partial: "shared/card1", locals: { meme: meme } %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <p>Aucun résultat</p>
<% end %>
