<div class="card-tab2 d-flex" data-like-target="card" data-controller="like"
  <% if user_signed_in? %>
    data-like-id-value="<%= current_user.id %>"
  <% end %>>
  <div class="like-icon-container d-flex">
    <%= render partial: "shared/like_icon", locals: { meme: meme } %>
    <span id="like-count" class="ms-2"><%= meme.likes.count %></span>
  </div>
  <div class="share-icon ms-auto">
    <a href="#" data-bs-toggle="modal" data-bs-target="#shareModal">
      <%= image_tag 'share_icon.svg' %>
    </a>
  </div>
</div>
