<div class="card2">
  <div class="d-flex flex-column">
    <div class="card-content">
      <%= cl_image_tag meme.image.key, alt: meme.title, width: 360 %>
    </div>
    <div class="card-tab2">
      <div class="like-icon">
        <%= image_tag 'like_icon.svg' %>
      </div>
      <div class="share-icon">
        <%= image_tag 'share_icon.svg' %>
      </div>
    </div>
  </div>
</div>
