<div class="card2">
  <div class="card-content" ></div>
  <div class="card-tab2">
  </div>
    <div class="like-icon"  style="background: url('assets/images/like_icon.svg')" ></div>
    <div class="share-icon"  style="background: url('assets/images/share_icon.svg')" ></div>
</div>
