<div class="nav_bar">

<div class="home-icon" style="background: url(assets/images/home-icon.svg)" ></div>
<div class="add-icon" style="background: url(assets/images/add-icon.svg)"></div>
<div class="library-icon" style="background: url(assets/images/library-icon.svg)"></div>
<div class="profile-icon"></div>


</div>
