<nav class="navbar sticky-navbar">
  <!-- Logo -->
  <div class="navbar-brand align-items-center m-0 mb-1">
    <%= link_to root_path do %>
      <%= image_tag("logo.svg", class: "logo", alt: "Logo") %>
    <% end %>
  </div>

  <!-- Recherche -->
  <%= form_tag memes_path, method: :get, class: "search-form" do %>
    <div class="search-form-control input-group">
      <i class="fas fa-search search-icon"></i>
      <%= text_field_tag :search, params[:search], placeholder: 'Rechercher un mème', class: 'form-control' %>
    </div>
  <% end %>
</nav>
