.text{
  left: 47px;
  top: 14px;
  left: 37px; top: 14px; position: absolute;
  color: black;
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 22px;
  word-wrap: break-word;
  color: black;
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 23px;
  word-wrap: break-word;
  }

  .button-filter {
  width: 121px;
  height: 35px;
  flex-shrink: 0;
  border-radius: 17.5px;
  background: #52D1DC;
  box-shadow: 5px 5px 0px black;
  }
