.card2 {
  display: flex;
  flex-direction: column;
  width: 300px;
  border: 2px solid #000;
  border-radius: 5px;
  box-shadow: 6px 3px 1px 0px black;
  margin-bottom: 10px;
}

.card-content {
  flex: 1;
}

.card-tab2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 0 10px 0 15px;
  width: 300px;
  height: 60px;
  background: #F5BDD9;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#like-button {
  margin-left: 9px;
  font-size: 17px;
}

.card2 .like-icon {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 32px;
}

#like-count {
  margin: 0;
  font-weight: 600;
}

.fas, .fa-solid {
  line-height: 21px;
}


#canvas-container {
  position: relative;

}

// #text-generator {
//   position: relative; /* Make text box positionable within the card */
//   top: 10px; /* Adjust initial position as needed */
//   left: 10px; /* Adjust initial position as needed */
//   z-index: 1000; /* Ensure text box is above other elements */
//   resize: both; /* Enable resizing in both directions */
//   // overflow: auto; /* Allow scrolling if content overflows */
//   background-color: red;
//   border-color: transparent;

// }


.tperso {
  width: 300px;
  margin: 0 auto;
}
