.card2 {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 540px;
  background: #A8A8A8;
  border-radius: 10px;
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0);
}

.card-content {
  flex: 1;
  padding: 20px;
}

.card-tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  background: #52D1DC;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.like-icon,
.share-icon {
  width: 32px;
  height: 32px;
  background: black;
  border-radius: 50%;
}
