.card2 {
  display: flex;
  flex-direction: column;
  width: 360px;
  border: 2px solid #000;
  border-radius: 5px;
  box-shadow: 6px 3px 1px 0px black;
  margin-bottom: 10px;
}

.card-content {
  flex: 1;
}

.card-tab2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 0 10px 0 15px;
  width: 360px;
  height: 60px;
  background: #F5BDD9;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#like-button {
  margin-left: 9px;
  font-size: 17px;

}

.like-icon {
  display: flex;
  height: 25px;
}

.fas, .fa-solid {
  line-height: 21px;
}
