.social-share-button .ssb-icon  {
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
}

.social-share-button {
  display: flex;
  justify-content: space-between;
}

.modal {
  margin-top: 170px;
}

.modal-header {
  justify-content: center;
}
