.navbar-footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 3px black solid;
  background: white;
  z-index: 1000;
}

.footer-container {
  max-width: 390px;
  height: 60px;
  flex-shrink: 0;
  background: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 25px;
  margin: 0 auto;
}

.navbar-home,.navbar-add,.navbar-library,.profile-icon {
  flex-shrink: 0;
}

.profile-icon {
  width: 35px; /* Ajustez selon la taille désirée */
  height: 35px; /* Ajustez selon la taille désirée */
  border: 2px solid transparent; /* Bordure transparente par défaut */
  border-radius: 50%; /* Si vous voulez un contour arrondi */
  object-fit: cover; /* Pour s'assurer que l'image ne se déforme pas */
  box-sizing: border-box; /* Inclure la bordure dans la taille totale de l'élément */
}
.profile-icon.active-profile {
  border: 2px solid black; /* Bordure noire de 2px quand actif */
}
